.App {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  padding: 0 2% 50px 2%;
}

.App-header {
  justify-content: center;
  flex: 1;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

label {
  display: block;
}

input {
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 18px;
}

button {
  font-size: 18px;
  border-radius: 10px;
  background-color: red;
  border: 2px solid black;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 20px;

  &:hover {
    background-color: black;
    border: 2px solid red;
  }
}

.add-Items-button {
  background-color: green;
  color: white;

  &:hover {
    background-color: black;
  }
}

.divider {
  padding-bottom: 40px;
  border-bottom: 3px solid white;
}

.items-count {
  color: yellow;
}

.names-list {
  border-top: 1px solid #ffffff;
  padding: 20px 0;
  border-bottom: 1px solid #ffffff;
}